.login-page-box {
  display: flex;
  height: 85vh;
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-family: "Raleway", sans-serif;
  color: var(--base-color);
}

.login-box {
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 325px;
  height: 450px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.login-box h1 {
  float: left;
  font-size: 2.2;
  margin: 2rem 1rem;
  padding: 1rem 0;
}

.credentials {
  width: 100%;
  overflow: hidden;
  font-size: 1.2rem;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid var(--base-color);
  /* border: 1px solid var(--base-color); */
  margin-bottom: 1rem;
}

.credentials input {
  border: none;
  outline: none;
  background: none;
  color: var(--base-color);
  width: 80%;
  margin: 10px;
  font-size: 1.1rem;
}

.eye-btn {
  position: absolute;
  margin-top: 8px;
  right: 25px;
  cursor: pointer;
}

.login-lower {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.signup-link {
  color: var(--base-color);
  text-decoration: none;
  cursor: pointer;
}

.signup-link:hover {
  border-bottom: 2px solid var(--primary-color);
}

@media screen and (max-width: 768px) {
  .login-box {
    top: 50%;
  }
}
