.empty-container {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}

.empty-content {
    text-align: center
}