@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* CSS for Movie Card */

.videos {
    position: relative;
    width: 290px;
    margin: 2rem;
    background-color: #373b69;
    border-radius: 1rem 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

  .delete-icon {
    position: absolute;
    right: 2px;
    top: 3px;
    margin: 0;
    padding:0;
  }

  .videos-title {
    color: #efefef;
    display: flex;
    justify-content: center;
    padding: 1rem;

  }
  
  .videos-title p {
    text-decoration: none;
  }


  .videos img {
    max-width: 100%;
  } 
  
  .videos:hover {
    transform:scale(1.07)
  }
  
  
  .videos-overview{
    position: absolute;
    padding: 1rem;
    background-color: #fff;
    color: #22254b;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
  }
  
  .videos:hover .videos-overview {
    transform: translateY(0);
  }

  .play-btn-div {
    display: flex;
    justify-content: center;
    font-size:0.75rem;
  }

  .play-btn-div .play-btn {
    text-decoration: none;
    border-color: #ff4e00;
    border-radius: 0.5rem;
    color: #fff;
    box-shadow: 0 0 40px 40px #ff4e00 inset, 0 0 0 0 #ff4e00;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    padding: 0.5rem;
  }

  .play-btn span:hover {
    cursor: pointer;
    /* border: 2px solid black; */
  }
