.logo {
  position: relative;
  left: 80px;
  margin: 1rem;
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
}

.navbar {
  background: #121212;
  height: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  position: sticky;
  top: 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.nav-btns {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-btn {
  text-decoration: none;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}

.nav-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: relative;
    left: 45px;
    top: 15px;
    margin: 0;
    font-size: 2rem;
  }

  .nav-btn {
    text-decoration: none;
    padding: 0;
    color: #fff;
    margin-right: 0.5rem;
    text-align: center;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #121212;
    left: 0;
    top: 75px;
    transition: all 1s ease-out;
    width: 100%;
    align-items: center;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 1.5rem;
    color: white;
    background-color: var(--dark-color);
    border: none;
    outline: none;
    top: 1.5rem;
    left: 1rem;
    border: 1px solid white;
  }

  .nav-menu {
    display: none;
  }
}
