.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 18vh;
  background-color: grey;
}

.navigation-content {
  display: inline;
  padding: 14px 16px;
  border-radius: 1rem 1rem;
}

.navigation-content:hover {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  cursor: pointer;
  color: black;
  font-weight: bolder;
}

.navigation-content:active {
  transform: translateY(4px);
}

.videos-card-home {
  padding: 1rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 250px;
  box-shadow: black 2px 2px 5px;
}

