@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.App {
  font-family: sans-serif;
}

* {
  margin: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.logo {
  position: relative;
  left: 80px;
  margin: 1rem; 
  font-size: 3rem; 
  font-weight: bolder; 

}

.navbar {
  background-color: #22254B;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
	top: 0;
  z-index: 1;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  height: 18vh;
}

.navigation-content {
  display: inline;
  padding: 14px 16px;
  border-radius: 1rem 1rem;
}

.navigation-content > .nav-link {
  text-decoration: none;
  border-color: #ff4e00;
  border: 1px solid #ff4e00;
  border-radius: 0.5rem;
  color: #fff;
  box-shadow: 0 0 40px 40px #ff4e00 inset, 0 0 0 0 #ff4e00;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}

.nav-link:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 #ff4e00 inset, 0 0 10px 4px #ff4e00;
  color: #ff4e00;
  font-weight: bold;
}

.nav-link:active {
  transform: translateY(4px);
}

aside {
    width: 15%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    background-color: #ff4e00;
    position: sticky;
    z-index: 1;
}


.main-content {
  position: relative;
  padding: 2rem 2rem;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid; */
  margin: 0;
}

  /* CSS for React Player Page */
.player-container {
    height: 120vh;
  }

  .player {
    /* position: absolute;
    top: 0;
    left: 0; */
    
    width: auto;
    /* border: 1px solid; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

  }

  .react-player-div {
    height: 550px;
  }

  .player-buttons {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid; */
  }

  .player-buttons-ul {
    display: flex;
  }

  .player-buttons-ul > li {
    display:inline;
    padding: 1rem;
    cursor: pointer;
  }

  .player-buttons-ul > li:active {
    box-shadow: inset 5px 0 5px -5px orange;
    color: #fff;
  }

  .player-content {
    padding: 0rem 1rem;
    font-family: 'Raleway', sans-serif;
  }

  .player-heading p {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem 1rem;
  } 

  .player-category p {
    margin: 1rem 1rem;
    font-style: oblique;
  }

  .player-description {
    margin: 2rem 1rem;
    font-family: 'Raleway', sans-serif;
  } 

  .player-description span{
    margin: 1rem 1rem;
    font-weight: bolder;
    cursor: pointer;
  }

  .player-description p{
    margin: 1rem 1rem;
  }
  
  .player-description span:hover {
    color: #ff4e00;
  }

  .player-credits p {
    margin: 1rem 1rem;
  }

  


  @media only screen and (max-width: 732px) {

    .player-content {
      padding: 0;
    }

    .react-player-div {
      height: 350px;
    }

    * {
      margin: 0;
      padding: 0;
    }
  }